#main-container {
    display: grid;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
}

.hidden {
    display: none;
}

header {
    grid-column: span 5;
    text-align: center;
}

header img {
    max-height: 200px;
    margin-top: 0;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

#team-select {
    grid-column: span 5;
    text-align: center;
    margin-bottom: 0;
}

input {
    display: block;
    margin: 30px auto 0 auto;
    background-color: rgb(19, 59, 111);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border-radius: 5%;
    border: 1px solid rgb(19, 59, 111);
}

#team-links {
    grid-column: span 5;
    text-align: center;
}

#team-links ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 30px auto 10px auto;
}

#team-links li {
    display: inline;
    text-decoration: none;
    margin: 10px 15px;
}

#team-links img {
    max-width: 75px;
}

#team-event-info {
    grid-column: span 5;
    text-align: center;
}

#event-info {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

#team-event-info h3 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

#current-week-games {
    grid-column: span 5;
    text-align: center;
}

#game-info {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-info h3 {
    text-align: center;
    text-decoration: underline;
    margin: 10px auto;
    padding: 0;
}

#game-info li {
    margin: 10px;
    display: inline-block;
}

#game-info img {
    max-height: 50px;
}

#game-info .at-symbol {
    max-width: 20px;
    margin: 14px 5px;
}

#refresh-scores-button {
    grid-column: span 5;
    margin: 10px auto;
}

#refresh-scores {
    margin: 20px auto;
    background-color: rgb(19, 59, 111);
    color: rgb(255, 255, 255);
    width: 120px;
    height: 30px;
    border-radius: 5%;
    border: 1px solid rgb(19, 59, 111);
}